/* MAIN 1 */

body {
    margin: 0;
}

#page-wrapper {
    height: 900px;
    min-height: 100%;
    width: 100%;
    background-color: rgb(54, 54, 54);
}

#header-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(http://orig07.deviantart.net/0ee0/f/2016/241/1/8/princepal_ui_ux_deisgner_by_princepal-daft6yb.jpg);
    background-size: cover;
}

#navbar-wrapper {
    height: 60px;
    background: rgba(6, 6, 6, 0.1);
    padding: 6px 30px 6px 30px;
    max-width: 100%;
    border-bottom: 1px solid white;
}

#navbar-wrapper2 {
    height: 100%;
    min-width: 100%;
    width: 100%;
    background: transparent;
    text-align: center;
}

#navbar-logo {
    width: 60px;
    height: 60px;
    margin: 0;
}

#content-wrapper {
    max-width: 100%;
    height: 100%;
    padding: 100px 60px 100px 60px;
    /*background-color: rgb(89, 89, 89);*/
}

#content-wrapper2 {
    max-width: 100%;
    min-width: 5em;
    max-height: 100%;
    min-height: 100%;
    padding: 10px 10px 10px 10px;
    /*background-color: rgb(105, 105, 105);*/
}

#content-wrapper3 {
    max-width: 100%;
    height: 100%;
    /*background-color: rgb(161, 161, 161);*/
}

#main-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    letter-spacing: .16em;
    font-weight: 500;
    line-height: 3em;
    margin: none;
    background-image: url(http://img1.joyreactor.com/pics/post/gif-internet-creative-facebook-2268159.gif);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
